*{
    margin: 0;
    padding: 0;
}
.nav{
    position: relative;
    top: 1rem;
    font-display: Georgia;
    color: #ffffff;
 
}
input{
    padding: 1px;
    border-radius: 5px;
    width: 25rem;
}
li:hover{
    list-style: none;
    color: #E64500;
    padding:0.5rem;
    display: inline;
}
.header{
    height: 100px;
    background-color: #333333;
    grid-area: HD;
}
.Cart:hover{
    position: fixed;
    right: 0px;
    color: #E64500;

}
.Login{
    position: fixed;
    right: 5rem;
}

h1{
    font-family: Georgia;
    color: #E64500;
text-align: center;
}
.TopContainer{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-areas: "HD HD HD HD"
                          "Img Img Img Img";
    border: 5px solid #E64500;
    column-gap: 5px;
}

img{
    margin: 5px;
    padding:5px;
    height: 200px;
    width: 200px;
    border: 5px solid #E64500;
}
