*{
    margin: 0;
    padding: 0;
}
.nav{
    top: 1rem;
    font-display: Georgia;
    color: #ffffff;
 
}
.Title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: #e84f05;
    font-size: 30px;
}
.Footer{
    width: auto;
    height: 100px;
    background-color:#444;
}
.Header{
    width: auto;
    height: 100px;
    background-color:#444;
}
li{
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: inline;
    padding: 10px;
    color: white;
}
li:hover{
    color:#e84f05
}
/* Sets the Grid on the HomePage */
.Grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 5px;
    border: 5px solid #e84f05;
   
}
/* Sets the diamensions of the images */
.Image{
    margin:10px;
    box-sizing: border-box;
    padding: 5px;
    height: 200px;
    width: 200px;
    border: 5px solid #e84f05;
    border-radius: 10%;
}
/* Allows the border to change to grey when the mouse hovers over the images */
.Image:hover{
 border: 5px solid #444;
}
/* Defines the Title caption of the text uder the images */
span{
    color:#e84f05;
}
/* Sets the Clicked on image size to a larger diamention. */
.LargerImage{
    margin:10px;
    box-sizing: border-box;
    padding: 5px;
    height: 400px;
    width: 400px;
    border: 5px solid #e84f05;
    border-radius: 10%;
}
/* ##########################################################--SOCIAL MEDIA--################################################## */
.Twitter
{ 
    float:right;
    box-sizing:border-box;
	width:40px;
	height:40px;
	border-radius: 20%;
	border: 5px solid #e84f05;
	margin-top: 5px;
}
.Youtube
{
	float:right;
	box-sizing:border-box;
	width:40px;
	height:40px;
	border-radius: 20%;
	border: 5px solid #e84f05;
	margin-top: 5px;
}
.FaceBook
{
	float:right;
	box-sizing:border-box;
	width:40px;
	height:40px;
	border-radius: 20%;
	border: 5px solid #e84f05;
	margin-top: 5px;
}
.Discord
{
	float:right;
	box-sizing:border-box;
    width:40px;
	height:40px;
	border-radius: 20%;
	border: 5px solid #e84f05;
	margin-top: 5px;
}
.ChangeSize:hover
{
	height:50px;
	width:50px;
}
/* ###########################################################--SOCIAL MEDIA--#################################################### */
.Flex-Container
{
    justify-content:center;
    display:flex;

}
.Flex-Column{
 display:flex;
}
.Related{
    display:flex;
    justify-content: center;
    flex-direction: row;
}
.RelatedBorder{
    background-color: #444;
    height: 50px;
    border: 5px solid #e84f05;
}
#title{
    text-align: center;
    color: #e84f05;
font-size: 30px;
}
button{
    margin-top: 1rem;
    flex-direction: row;
    border: 5px solid #444;
    border-radius: 15%;
    height: 5rem;
    width: 10rem;
    background-color: #e84f05;
}
#BtnText{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
}
.PriceDetails{
    padding-top: 2rem;
    box-sizing: border-box;
    margin-top: 10px;
    height: 20rem;
    width: 20rem;
    background-color: white;
    border: 5px solid #e84f05;
}
.Author{
    margin-top: 10px;
    height: 50%;
    width: 20rem;
    background-color: white;
    border: 5px solid #e84f05;
}
/* #############################################--SPECIAL ORDERS FORM--################################################################ */
input{
    font-family: Georgia;
    
}
.wrapper{
    padding: 10px;
    border: 5px solid #e84f05;
    width: 500px;
    height: 600px;
    margin: 0 auto;
}
.wrapper input{
display: flex;

}
#Pad{
    margin-left: 30px;
}
/* ##############################################--SPECIAL ORDERS FROM--########################################################################## */